<template>
  <button :disabled=this.$store.state.vuex_isAddDisabled @click="handleAddClick()">Add Contact</button>
</template>

<script>
export default {
  name: "AddBtn",
  methods: {
    handleAddClick() {
      this.$emit('add-click')
    }
  }
}
</script>

<style scoped>


button {
  display: inline-block;
  background: #000;
  color: #fff;
  border: none;
  padding: 10px 20px;
  margin: 5px;
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.2rem;
  font-family: inherit;
}

button:focus {
  outline: none;
}

button:active {
  transform: scale(0.98);
}


</style>