<template>
  <button @click="clickHandler()"><i :class=iconClass></i></button>
</template>

<script>
export default {
  name: "cardButton",
  props: ['buttonType', 'iconClass'],
  methods: {
    clickHandler() {
      this.$emit(this.buttonType, this.buttonType)
    }
  }
}
</script>

<style scoped>

button {
  border: none;
  background: none;
  cursor: pointer;
  margin-right: 0.5rem;
  color: black;
}


</style>