<template>
  <div class="popup">
    <div class="popup-inner">
      <button @click="handleClosePopUp" class="popup-close"><i class="fas fa-times fa-2x"></i></button>
      <RoundedImg :imgUrl=contact.pic :firstName=contact.firstName :lastName=contact.lastName :gender=contact.gender />
      <p><span>Name:</span> {{ contact.firstName }} {{ contact.lastName }}</p>
      <p><span>Address:</span> {{ contact.address }}</p>
      <p><span>Phone:</span> {{ contact.phone }}</p>
      <p><span>Email:</span><a :href="'mailto:'+contact.email"> {{ contact.email }}</a>
      </p>
      <p><span>Date of birth:</span> {{ contact.dob }}</p>
      <p><span>Age:</span> {{ contact.age }}</p>
    </div>
  </div>
</template>

<script>
import RoundedImg from './RoundedImg.vue'

export default {
  name: "CardModal",
  components: {RoundedImg},
  props: ['contact'],
  methods: {
    handleClosePopUp() {
      this.$emit('closePopUpBtn')
    }
  }
}


</script>

<style scoped>

.popup {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  /*background-color: blueviolet;*/
}

.popup-inner {
  background-color: white;
  padding: 1rem 4rem 2rem;
  border-radius: 0.5rem;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
  text-align: center;

}

.popup-inner span {
  text-decoration: underline;
}

.popup p a {
  line-height: 0.5;
}

a {
  text-decoration: none;
}

.popup-close {
  display: block;
  float: right;
  outline: none;
  border: none;
  background-color: white;
  margin-right: -3rem;
  margin-top: 0.5rem;
  cursor: pointer;
}

</style>