<template>
  <div class="contactCard">
    <RoundedImg :imgUrl=contact.pic
                :firstName=contact.firstName
                :lastName=contact.lastName
                :gender=contact.gender />
    <ContactCardInfo :contact="contact" @deleteBtn="HandleCardBtnClick"/>
  </div>
</template>

<script>
import RoundedImg from './RoundedImg.vue'
import ContactCardInfo from './ContactCardInfo.vue'


export default {
  name: "Contact",
  components: {
    RoundedImg,
    ContactCardInfo
  },
  props: ['contact'],
  methods: {
    HandleCardBtnClick(idToHandle, buttonType) {
      this.$emit(buttonType, idToHandle, buttonType)
    }
  }

}
</script>

<style scoped>
.contactCard {
  height: 10rem;
  width: 30rem;
  margin: auto;
  margin-top: 1.5rem;
  padding: 1rem 1rem 1rem 0;
  display: flex;
  border-radius: 0.5rem;
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);


}


</style>