<template>
  <div class="cardInfo">
    <p>{{ contact.title }} {{ contact.firstName }} {{ contact.lastName }}</p>
    <p>{{ contact.country }}</p>
    <p>{{ contact.dtbCalculated }} days until birthday</p>
    <a :href="'mailto:'+contact.email">{{ contact.email }}</a>
    <div class="cardButtons">
      <CardButton @deleteBtn="HandleCardBtnClick" buttonType='deleteBtn' icon-class="fas fa-trash-alt fa-lg"/>
      <CardButton @seeMoreBtn="TogglePopup" buttonType='seeMoreBtn' icon-class="far fa-eye fa-lg"/>
    </div>
    <CardModal v-if="this.popupTrigger" @closePopUpBtn="TogglePopup" :contact="contact"/>
  </div>
</template>

<script>
import CardButton from './CardButton.vue'
import CardModal from './CardModal.vue'

export default {
  name: "ContactCardInfo",
  props: ['contact'],
  components: {CardButton, CardModal},
  methods: {
    HandleCardBtnClick(buttonType) {
      this.$emit(buttonType, this.contact.uuid, buttonType)
    },
    TogglePopup() {
      this.popupTrigger = !this.popupTrigger
    }
  },
  data() {
    return {
      popupTrigger: false
    }
  }

}
</script>

<style scoped>

.cardButtons {
  text-align: right;
  margin-top: 1rem;
}


.cardInfo {
  width: 100%;
  text-align: left;
}

.cardInfo p, .cardInfo a {
  margin: 0.3rem;
}

</style>