<template>
  <div>
    <div v-for="contact in this.$store.state.vuex_contacts" :key="contact.uuid">
      <ContactCard :contact="contact" @deleteBtn="HandleCardBtnClick"/>
    </div>
  </div>
</template>

<script>
import ContactCard from './ContactCard.vue'

export default {
  name: "ContactList",
  components: {ContactCard},
  methods: {
    HandleCardBtnClick(idToHandle, buttonType) {
      this.$emit(buttonType, idToHandle, buttonType)
    }
  }
}
</script>

<style scoped>

</style>