<template>
  <div class="headingClass">
    <HeadingTitle/>
    <div>
      <AddBtn @add-click="clickedAdd"/>
      <SortOptions @changeSort="changeSorting"/>
    </div>
  </div>

</template>


<script>
import AddBtn from './AddBtn.vue'
import HeadingTitle from './HeadingTitle.vue'
import SortOptions from './SortOptions.vue'


export default {
  name: "Heading",
  components: {AddBtn, HeadingTitle, SortOptions},
  methods: {
    clickedAdd() {
      this.$emit('add-click')
    },
    changeSorting(typeOfSort) {
      this.$emit('changeSort', typeOfSort)

    }
  }
}
</script>

<style scoped>

.headingClass {
  padding: 3rem;
  background: linear-gradient(0deg, rgba(255, 255, 255, 0.7665441176470589) 0%, rgba(255, 192, 0, 1) 100%);
  border-radius: 1rem;
}

</style>