<template>
  <h1>You have {{this.$store.state.vuex_contacts.length}} contacts from
              {{ this.$store.state.vuex_countryCounter }} countries</h1>
</template>

<script>
export default {
name: "HeadingTitle"
}
</script>

<style scoped>

</style>