<template>
  <div>
    <h1>No contacts yet</h1>
    <img :src=aloneGifUrl alt="no img"/>
  </div>

</template>

<script>
export default {
  name: "NoContacts",
  data() {
    return {
      aloneGifUrl: "https://media.giphy.com/media/SYXXT4vkT7I4nGWPhI/giphy.gif"
    }
  },
  created() {
    // randomly choose gif:
    let gifOptions = ["https://media.giphy.com/media/SYXXT4vkT7I4nGWPhI/giphy.gif",
      "https://media.giphy.com/media/12pyn0kpLjTDmU/giphy.gif",
      "https://media.giphy.com/media/NkpUwr1Ob3o6k/giphy.gif",
      "https://media.giphy.com/media/PsTVjW9dInEvS/giphy.gif",
      "https://media.giphy.com/media/3oEjHK9eViS9JOb22k/giphy.gif",
      "https://media.giphy.com/media/uh79HSM4ePaNO/giphy.gif",
      "https://media.giphy.com/media/fWgh9QXcunZ3mlIU9w/giphy.gif",
      "https://media.giphy.com/media/E2d2tsgz7iHo4/giphy.gif",
      "https://media.giphy.com/media/tMUQYUbTZx1dK/giphy.gif",
      "https://media.giphy.com/media/lBml45TJk3e00/giphy.gif"]
    const randomIndex = Math.floor(Math.random() * (gifOptions.length));
    this.aloneGifUrl = gifOptions[randomIndex];


  }
}
</script>

<style scoped>

</style>