<template>
  <img :src="imgUrl" v-bind:alt="`${firstName} ${lastName}`" class="rounded"
       :style="{borderColor:borderColorGender}"/>
</template>

<script>
export default {
  name: "RoundedImg",
  props: ['imgUrl', 'firstName', 'lastName', 'gender'],
  data() {
    return {
      borderColorGender: "green"
    }
  },
  created() {
    if (this.gender == "male") {
      this.borderColorGender = "red"
    } else if (this.gender == "female") {
      this.borderColorGender = "green"
    }
  }
}
</script>

<style scoped>
.rounded {
  border-radius: 100%;
  border: solid 3px;
  margin: 1rem;
}
</style>