<template>
  <div>
    <select @change="changeSort()" v-model="selected">
      <option disabled value="">{{this.sortOptions[this.$store.state.vuex_sortbycode]}}</option>
      <option value=0>{{this.sortOptions[0]}}</option>
      <option value=1>{{this.sortOptions[1]}}</option>
      <option value=2>{{this.sortOptions[2]}}</option>
    </select>
  </div>
</template>

<script>
export default {
name: "SortOptions",
  data(){
  return{
    selected: '',
    sortOptions: ['First name A-Z','First name Z-A','Days until birthday']
  }
  },
  methods:{
    changeSort(){
      this.$store.commit('updateSortCode',this.selected)
      this.$emit('changeSort',this.selected)
    }
  }
}
</script>

<style scoped>
*{
  display: inline-block;
}

select {
  display: inline-block;
  background: white;
  color: black;
  border: solid 2px black;
  padding-top: 8px;
  padding-bottom: 8px;
  /*margin: 5px;*/
  border-radius: 5px;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.2rem;
  font-family: inherit;
}

</style>