<template>
  <div id="app">
    <vue-confirm-dialog></vue-confirm-dialog>
    <Heading  @changeSort="changeSorting" @add-click="clickedAdd"/>
    <div v-if="this.$store.state.vuex_contacts.length">
      <ContactList @deleteBtn="deleteBtn"/>
    </div>
    <div v-else>
      <NoContacts/>
    </div>
  </div>
</template>

<script>
import ContactList from './components/ContactList.vue'
import Heading from './components/Heading.vue'
import NoContacts from './components/NoContacts.vue'

export default {
  name: 'App',
  components: {
    ContactList, Heading, NoContacts
  },
  methods: {
    calcDTB(birthDay) {
      const today = new Date();
      const birthDayThisYear = new Date(birthDay);
      const thisYear = today.getFullYear();
      birthDayThisYear.setFullYear(thisYear)
      var daysDiff = birthDayThisYear.getTime() - today.getTime()
      if (daysDiff < 0) { // in case birthday passed already this year:
        birthDayThisYear.setFullYear(thisYear + 1)
        daysDiff = birthDayThisYear.getTime() - today.getTime()
      }
      var one_day = 1000 * 60 * 60 * 24;
      let numOfDays = Math.ceil((daysDiff) / (one_day))
      // numOfDays = ((numOfDays % 365) + 365) % 365; //doesn't take care of special years with more days
      return numOfDays
    },
    updatelocalStorage() {
      window.localStorage.setItem('contacts', JSON.stringify(this.$store.state.vuex_contacts));
      window.localStorage.setItem('countries', JSON.stringify(this.$store.state.vuex_uniqueCountries));
    },
    changeSorting() {
      this.sortContacts()
      this.updatelocalStorage()
      window.localStorage.setItem('sortCode', this.$store.state.vuex_sortbycode);
    },
    createBirthDate(dobString) {
      var ans = new Date(dobString);
      ans = (ans.getMonth() + 1) + '/' + ans.getDate() + '/' + ans.getFullYear();
      return ans;
    },
    async addFetchedContact(res) {
      const data = await res.json()
      let newContact = data.results[0]

      // enrich contact data and add to contact list:
      newContact = {
        firstName: newContact.name.first,
        lastName: newContact.name.last,
        title: newContact.name.title,
        country: newContact.location.country,
        email: newContact.email,
        pic: newContact.picture.large,
        gender: newContact.gender,
        address: newContact.location.street.name + " " + newContact.location.street.number + ", " + newContact.location.city + ", " + newContact.location.country,
        phone: newContact.cell,
        dob: this.createBirthDate(newContact.dob.date),
        age: newContact.dob.age,
        dtbCalculated: this.calcDTB(newContact.dob.date),
        uuid: newContact.login.uuid
      }
      this.$store.commit('updateContacts', [...this.$store.state.vuex_contacts, newContact])
      this.sortContacts()

      //update Countries info:
      let tempCountries = this.$store.state.vuex_uniqueCountries
      tempCountries.push(newContact.country)
      this.$store.commit('updateCountries', [...new Set(tempCountries)])// unique countries array

      //update local Storage:
      this.updatelocalStorage()
      this.$store.commit('updateIsAddDisabled',false)// resume button press ability

    },
    async clickedAdd() {
      let res;
      this.$store.commit('updateIsAddDisabled',true) // lock button press to prevent multiple presses
      await fetch(`https://randomuser.me/api`)
          .then(response => {
            if (!response.ok) {
              throw response
            }
            res = response  //we only get here if there is no error
            this.addFetchedContact(res)
          })
          .catch(err => {
            alert("Something went wrong while fetching new contact ", err)
            this.$store.commit('updateIsAddDisabled',false) // resume button press
          })
    },
    sortContacts() {
      const sortCode = this.$store.state.vuex_sortbycode
      this.$store.state.vuex_contacts.sort(function (a, b) {
        if (sortCode == 0 || sortCode == 1) {
          var nameA = a.firstName
          var nameB = b.firstName
          if (sortCode == 0) {    //Ascending Order:
            return (nameA < nameB) ? -1 : (nameA > nameB) ? 1 : 0;
          } else { //Descending Order:
            return (nameA < nameB) ? 1 : (nameA > nameB) ? -1 : 0;
          }
        } else { // days to birthday
          const dtbA = a.dtbCalculated
          const dtbB = b.dtbCalculated
          return (dtbA < dtbB) ? -1 : (dtbA > dtbB) ? 1 : 0;
        }
      });
    },
    deleteBtn(idToDelete) {
      this.$confirm(
          {
            message: `🔥Are you sure you want to delete this contact?`,
            button: {
              no: 'No',
              yes: 'Yes'
            },
            /**
             * Callback Function
             * @param {Boolean} confirm
             */
            callback: confirm => {
              if (confirm) {
                let curContacts = this.$store.state.vuex_contacts
                let ans = curContacts.filter(item => item.uuid !== idToDelete);
                this.$store.commit('updateContacts', ans)
                let tempCountrySet = new Set();
                this.$store.state.vuex_contacts.forEach(contact => {
                  tempCountrySet.add(contact.country)
                });
                this.$store.commit('updateCountries', Array.from(tempCountrySet))
                this.updatelocalStorage()
              }
            }
          }
      )



    },
    resetNewItem(key, value) {
      if (!window.localStorage.getItem(key)) {
        window.localStorage.setItem(key, value);
      }
    },
    restartLS() {
      // window.localStorage.removeItem('contacts');
      // window.localStorage.removeItem('countries');
      // window.localStorage.removeItem('sortCode');

      this.resetNewItem('contacts', '');
      this.resetNewItem('countries', '');
      this.resetNewItem('sortCode', 0)
    }
  },

  created() {
    this.restartLS()

    let contactsFromLS = window.localStorage.getItem('contacts')
    let countriesFromLS = window.localStorage.getItem('countries')

    this.$store.commit('updateContacts', ((contactsFromLS === '') ? new Set() : JSON.parse(contactsFromLS)))
    this.$store.commit('updateCountries', (countriesFromLS === '') ? new Array() : JSON.parse(countriesFromLS))
    this.$store.commit('updateSortCode', window.localStorage.getItem('sortCode'))
  }

}
</script>

<style>
html {
  margin: -1rem;
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  color: black;

}
</style>
